// Custom styles.
body {
  background : url(http://owek6x58j.bkt.clouddn.com/background.jpg) no-repeat;
  width : 100%;
  height : 100%; //设置容器占满屏幕
  background-size : 100% 100%; //设置图片占满容器
  background-attachment : fixed;  //设置图片不随页面移动
}
